html,
body,
ul,
p,
h3,
button {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  border: none;
}

button {
  background-color: pink;
}

.app-title {
  text-align: center;
}

.todo-list {
  border: 1px solid black;
  list-style: none;
}

.todo-list-item {
  border: 1px solid red;
  padding: 10px;
  margin: 10px;
}

.todo-form, .todo-list, .step-form, .step-list {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 10px;
  width: 70%;
}

.step-list-item {
  border: 1px solid blue;
}

.step-form {
  border: 2px solid green;
}

