html,
body,
ul,
p,
h3,
button {
  margin: 0;
  padding: 5px 0;
  font-family: "Roboto", sans-serif;
  border: none;
}

label {
  color: white;
  text-align: center;
  margin: 5px;
}

input {
  padding: 5px;
}

html {
  background-color: #764abc;
}

button {
  background-color: whitesmoke;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.add-todo-button {
  margin: 10px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(192, 191, 191);
}

button:focus {
  outline: none;
}

button:active {
  background-color: #4c2f7a;
  color: white;
}

.app-title {
  text-align: center;
  color: white;
}

.todo-list {
  background-color: #4c2f7a;
  list-style: none;
  border-radius: 7px;
}

.todo-list-item {
  background-color: #603c9b;
  color: rgba(255, 255, 255, 0.815);
  padding: 10px;
  margin: 10px;
  border-radius: 7px;
}

.todo-list-item-container {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.todo-form, .todo-list, .step-form, .step-list {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  padding: 5px;
  width: 70%;
}

.step-list-item {
  display: flex;
}

.step-form {
  padding: 20px;
  background-color: #764abc;
}

