html,
body,
ul,
p,
h3,
button {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  border: none;
}

.todo-list {
  border: 1px solid black;
}

.todo-list-item {
  border: 1px solid red;
}

.todo-form {
  border: 2px solid green;
}

.step-list-item {
  border: 1px solid blue;
}

.step-form {
  border: 2px solid green;
}

